<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <input ng-model="addTodo">{{addTodo}}
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="due-date">Date Due</option>
        <option value="priority">Priority</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="todos">
        <li ng-repeat="todo in todos | filter:query | orderBy:orderProp"
            class="todo-listing">
          <!-- <a href="#/todos/{{todo.id}}" class="thumb"><img ng-src="{{todo.imageUrl}}"></a> -->
          <a href="#/todos/{{$index}}">edit {{$index}}</a>
          {{todo.status}} {{todo.priority}} {{todo.due-date}} {{todo.title}}
        </li>
      </ul>

    </div>
  </div>
</div>
